@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FF6C22;
    font-family: 'Noto Serif', sans-serif;
    color: #fff;
    overflow: auto;
}

h2{
    background-color: #2B3499;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

h3 {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.header {
    display: inline;
    background-color: none;
}

main {
    padding: 20px;
    overflow: auto;
    display: flex; 
    flex-wrap: wrap; 
}

.content {
    padding: 20px;
    width: 75%;
}

aside {
    margin-top: 19px;
    padding-left: 20px;
    width: 25%;
}

.card {
    background-color: #B0578D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.featured-images {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.photo-cat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.photo-cat-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

th{
    text-align: center;
}

footer{
    padding: 20px;
    background-color: #B0578D;
    color: fff;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
    font-style: italic;
    }

.profile header{
    text-align: center;
}

.profile img{
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .content, 
    aside{
        width: 100%;
        padding: 0
    }
}
